# Git
.git/

# Next.js build output
.next/
out/

# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Other common ignored files
dist/
build/
coverage/
*.log
*.tgz
*.zip
*.rar
.npm/
.yarn/
.pnpm-store/

# Next.js specific files (if you're using TypeScript)
next-env.d.ts